body {
    min-height: 2000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color:cadetblue;
}

#About {
    background-color: cadetblue;
}

#Skil {
    background-color: cadetblue;
}

#contact {
    background-color: cadetblue;
}

section {
    padding-top: 5rem;
}